# Composer
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock

# IDE
.vscode/
.idea

# Mac OS
.DS_Store

# Temp files
*.swp
*-swp
.env
.env.local
_test.php
.php-cs-fixer.cache
