name: Publish Documentation

on:
  release:
    types: [ published ]

  # Allows running this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  documentation:
    name: Publish Documentation
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up php ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Install and run phpdocumentor
        run: |
          wget https://phpdoc.org/phpDocumentor.phar
          php phpDocumentor.phar run -d ./src -t ./docs/_build
          cp ./docs/code_samples ./docs/_build/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build
